{% extends "base.html" %}

{% block content %}

<!-- Hero -->
<div class="hero-image">
  <div class="container cover-text">
    <div class="cover-text-inner">
      <h1 id="logo-text">Avec Plaisir</h1>
      <h2>Welcoming you "avec plaisir"!
      </h2>
      <a href="{% url 'create_reservation' %}" class="btn btn-outline-light btn-sm ">Book a Table</a>
    </div>
  </div>
</div>
<!-- End Hero -->
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Avec Plaisir</h2>
      <p>"Avec Plaisir" means "with pleasure"! We welcome you and prepare your meal with great
        enthusiasm. We've been serving classic French dishes since 2005, using only the freshest
        seasonal produce. The food may be old school, but our environment is lively and relaxed.
        We've been repeatedly reviewed as one of the best restaurants in London that won't break
        your wallet.       
      </p>
      <blockquote>
        <q><h3 class="quotes" ><em>...no pretention or fanfare. The food speaks for itself!</em><br>Jay Rayner, The Observer</h3></q>
        <q><h3 class="quotes" ><em>...a joyous trip to the French countryside in the heart of London!</em><br>Monica Galetti, The Observer</h3></q>
      </blockquote>
      <p><strong>Open daily from 10am - 10pm.</strong> Reservations advised. Please sign-up to the website to make
        a reservation. We'll only ever contact you about your visit.
      </p>
      <a href="{% url 'create_reservation' %}" class="btn btn-outline-light btn-sm ">Book a Table</a>
      <a href="{% url 'menus' %}" class="btn btn-outline-light btn-sm ">Menus</a>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12  mt-4">
      <img src="{% static 'images/wine.webp' %}" alt="A photo of a wooden, criss-cross wine rack full of bottles." class="image-fluid rounded mx-auto d-block wine-img">
    </div>
  </div>
</div>

{%endblock%}