{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}


{% if user.is_authenticated %}

<div class="container">
  <h1>Reservations</h1>
  <h3>We look forward to serving you, {{ user.first_name }}!</h3>
  
  <form method="POST" autocomplete="off">
    {{ form | crispy}}
    {% csrf_token %}
    <button type="submit" class="btn btn-signup btn-lg">Book it!</button>
    <a class="btn btn-outline-light btn-lg" aria-current="page" href="{% url 'homepage' %}"><span
      class="nav-colors">Cancel</span></a>
  </form>
</div>
{% else %}
<div class="container">
  <h3>Hello, guest!</h3> 
  <p>You need to <a href="../accounts/login/">sign in</a> to make a reservation. If you don't have an account
    yet, please <a href="../accounts/signup">sign up</a> here.</p>
  </h3>
</div>

{% endif %}

{% endblock %}

