{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="POST">
        {{ form | crispy}}
        {% csrf_token %}
        <p>Are you sure you want to delete 
            your reservation on "{{ reservation.reservation_date }}"?</p>    
        <input type="submit" class="btn button-style" value="Confirm">
        <a class="btn btn button-style" aria-current="page" href="{% url 'view_reservations' %}">
            <span class="nav-colors">Cancel</span></a>
    </form>
</div>

{% endblock %}