{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}


<div class="container">
    <h1 class="display-4">{{ user.first_name }}'s Reservations</h1>
    <h3 class="lead">We look forward to serving you!</h3>
</div>
{% for reservation in reservations %}
<div class="container">
    <div class="jumbtron">
        <div class="card">
            <div class="row">
                <div class="col">
                    <p><strong>{{ reservation.reservation_date }}</strong> </p>
                    <p>Time: {{ reservation.get_reservation_time_display }}</p>
                </div>
                <div class="col">
                    
                </div>
                <div class="col">
                    <p>Number of guests: {{ reservation.number_guests }}</p>
                </div>
            </div>
            <div class="row">
                <p>Special requests: {{ reservation.special_requests }}</p>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <a href="{% url 'update_reservation' reservation.pk %}" class="btn btn-outline-light btn-sm">Edit</a>
                    <a href="{% url 'delete_reservation' reservation.pk %}" class="btn btn-outline-light btn-sm">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-4">
</div>

{% endfor %}

{% else %}
Hello, guest! Please sign-in to view your reservations.
{% endif %}
{% endblock %}

<!-- Replace Href with {% url 'edit_reservation' reservation.pk %} after view is created. -->